/* I am not a CSS pro, but at least I made everything myself ;) */

html {
    position: relative;
    /* min-height: 100%; */
    height: 100%;
    display: flex; flex-direction: column;
    
  }
  body {
    font-family: "Lucida Console", Monaco, monospace;
    margin-bottom: 60px;
    height: 100%;
    display: flex; 
    flex-direction: column;
    flex-grow: 1;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    /* background-color: #f5f5f5; */
  }

.max-height {
  height: 100%;
}


/* unvisited GitHub icon link*/
.icon-link:link {
  color: black;
}

/* visited GitHub icon link*/
.icon-link:visited {
  color: black;
}

/* mouse over GitHub icon link */
.icon-link:hover {
  color: gray;
}